<%=form_with(model: @contact, local: true) do |form| %>
<div>
  <% if @contact.errors.any? %>
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
</div>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :Email %>
  <%= form.text_field :email %>
</div>
<div>
  <%= form.label :Content %>
  <%= form.text_field :content %>
</div>
<div>
  <%= form.submit %>
</div>
<% end %>
